{% extends 'general/base.html' %} {% block content %}

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="title">
                The Interfacer is a privacy-ensuring bot and API allowing you to fetch information about Discord guilds and users.
            </div>
            <a class="button is-link is-large"
                href="https://discord.com/api/oauth2/authorize?client_id=795059999193038849&permissions=0&scope=bot"><strong>Invite
                    Interfacer</strong></a>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="block">
            <article class="message is-info">
                <div class="message-header">
                    <p>How can I use the Interfacer for servers?</p>
                </div>
                <div class="message-body px-6">
                    <ol>
                        <li>
                            Invite the interfacer to your server using the link above
                            <strong>OR</strong> Check that the Interfacer bot is in the server
                            you'd like to access.
                        </li>
                        <li>
                            Make a request to the API endpoint
                            <code>/api/guilds/&lt;int: guild_id&gt;</code>.
                        </li>
                        <li>Get the response!</li>
                    </ol>
                </div>
            </article>
        </div>

        <div class="block">
            <article class="message is-info">
                <div class="message-header">
                    <p>How can I use the Interfacer for individual users?</p>
                </div>
                <div class="message-body px-6">
                    <ol>
                        <li>
                            Invite the interfacer to your server using the link above
                            <strong>OR</strong> Check that the Interfacer bot is in the server
                            you'd like to access.
                        </li>
                        <li>
                            Opt in for usage with the <code>!optin</code> command in Discord.
                            You can always opt out with <code>!optout</code>.
                        </li>
                        <li>
                            Make a request to the API endpoint
                            <code>/api/guilds/&lt;int: guild_id&gt;/users/&lt;int: user_id&gt;</code>.
                        </li>
                        <li>Get the response!</li>
                    </ol>
                </div>
            </article>
        </div>
    </div>
</section>
{% endblock %}
